<div
  class="text-center pt-8 min-h-screen mb-auto pt-44"
  *ngIf="!hasFormattedRecap"
>
  <p class="text-center font-bold text-4xl">BDR Nation Recap Generator</p>
  <input
    type="file"
    id="recapFile"
    class="pt-4"
    (click)="canClick = true"
  /><br />
  <button
    [disabled]="!canClick"
    [ngClass]="!canClick ? 'cursor-not-allowed' : ''"
    class="bg-teal-600 hover:bg-teal-500 text-white font-bold rounded p-4 mt-10"
    (click)="generateRecap()"
  >
    Generate Recap</button
  ><br />
</div>

<div
  class="text-center pt-8 min-h-screen mb-auto w-2/4 mx-auto"
  *ngIf="hasFormattedRecap"
>
  <p-accordion [multiple]="true">
    <p-accordionTab
      *ngFor="let recap of formattedRecap"
      [header]="recap.salesRep ? recap.salesRep : 'Unassigned'"
    >
      <div class="relative">
        <button
          (click)="copyRecapToClipboard(recap.id, recap.salesRep)"
          class="absolute -top-16 right-0 z-10 block bg-teal-600 hover:bg-teal-500 text-white font-bold rounded p-1"
        >
          Copy to clipboard
        </button>
      </div>
      <div [id]="recap.id" class="text-left p-8">
        <p class="text-2xl font-bold underline mt-4 mb-2">
          Meetings Booked - {{ recap.allActivities.meetings.length }}
        </p>
        <ul
          *ngIf="recap.allActivities.meetings.length; else noMeetings"
          class="list-disc"
        >
          <li *ngFor="let meeting of recap.allActivities.meetings">
            <span class="font-bold text-gray-700">
              <a
                href="{{
                  sfdcBaseUrl + '/Account/' + meeting.accountId + '/view'
                }}"
                target="_blank"
                >{{ meeting.accountName }}</a
              >
              -
              <a
                href="{{
                  sfdcBaseUrl + '/Contact/' + meeting.contactId + '/view'
                }}"
                target="_blank"
                >{{ meeting.prospectName }} - {{ meeting.prospectTitle }}</a
              >
              -
            </span>
            {{ meeting.activityComments }}
          </li>
        </ul>
        <ng-template #noMeetings>
          <span class="italic text-gray-400"
            >No meetings booked this week.</span
          >
        </ng-template>

        <p class="text-2xl font-bold underline mt-4 mb-2">
          Calls/Conversations/Spokes - {{ recap.allActivities.spokes.length }}
        </p>
        <ul
          *ngIf="recap.allActivities.spokes.length; else noSpokes"
          class="list-disc"
        >
          <li *ngFor="let spoke of recap.allActivities.spokes">
            <span class="font-bold text-gray-700"
              ><a
                href="{{
                  sfdcBaseUrl + '/Account/' + spoke.accountId + '/view'
                }}"
                target="_blank"
                >{{ spoke.accountName }}</a
              >
              -
              <a
                href="{{
                  sfdcBaseUrl + '/Contact/' + spoke.contactId + '/view'
                }}"
                target="_blank"
                >{{ spoke.prospectName }} - {{ spoke.prospectTitle }}</a
              >
              -
            </span>
            {{ spoke.activityComments }}
          </li>
        </ul>
        <ng-template #noSpokes>
          <span class="italic text-gray-400">No spokes this week.</span>
        </ng-template>

        <p class="text-2xl font-bold underline mt-4 mb-2">
          Email Responses/LinkedIn Responses -
          {{ recap.allActivities.emailResponses.length }}
        </p>
        <ul
          *ngIf="
            recap.allActivities.emailResponses.length;
            else noEmailResponses
          "
          class="list-disc"
        >
          <li *ngFor="let email of recap.allActivities.emailResponses">
            <span class="font-bold text-gray-700"
              ><a
                href="{{
                  sfdcBaseUrl + '/Account/' + email.accountId + '/view'
                }}"
                target="_blank"
                >{{ email.accountName }}</a
              >
              -
              <a
                href="{{
                  sfdcBaseUrl + '/Contact/' + email.contactId + '/view'
                }}"
                target="_blank"
                >{{ email.prospectName }} - {{ email.prospectTitle }}</a
              >
              -
            </span>
            <span
              [innerHTML]="
                email.activityComments.length > 200
                  ? formatEmailResponse(
                      email.activityComments,
                      email.activityId
                    )
                  : email.activityComments
              "
            ></span>
          </li>
        </ul>
        <ng-template #noEmailResponses>
          <span class="italic text-gray-400"
            >No email responses this week.</span
          >
        </ng-template>

        <p class="text-2xl font-bold underline mt-4 mb-2">
          Event RSVPs - {{ recap.allActivities.rsvps.length }}
        </p>
        <ul
          *ngIf="recap.allActivities.rsvps.length; else noRsvps"
          class="list-disc"
        >
          <li *ngFor="let rsvp of recap.allActivities.rsvps">
            <span class="font-bold text-gray-700"
              ><a
                href="{{
                  sfdcBaseUrl + '/Account/' + rsvp.accountId + '/view'
                }}"
                target="_blank"
                >{{ rsvp.accountName }}</a
              >
              -
              <a
                href="{{
                  sfdcBaseUrl + '/Contact/' + rsvp.contactId + '/view'
                }}"
                target="_blank"
                >{{ rsvp.prospectName }} - {{ rsvp.prospectTitle }}</a
              >
              -
            </span>
            {{
              rsvp.activityComments
                ? rsvp.activityComments
                : "No comments provided."
            }}
          </li>
        </ul>
        <ng-template #noRsvps>
          <span class="italic text-gray-400">No event RSVPs this week.</span>
        </ng-template>

        <p class="text-2xl font-bold underline mt-4 mb-2">
          Account profiling/Data hygiene -
          {{ recap.allActivities.profiling.length }}
        </p>
        <ul
          *ngIf="recap.allActivities.profiling.length; else noProfiling"
          class="list-disc"
        >
          <li *ngFor="let profile of recap.allActivities.profiling">
            <span class="font-bold text-gray-700"
              ><a
                href="{{
                  sfdcBaseUrl + '/Account/' + profile.accountId + '/view'
                }}"
                target="_blank"
                >{{ profile.accountName }}</a
              >
              -
              <a
                href="{{
                  sfdcBaseUrl + '/Contact/' + profile.contactId + '/view'
                }}"
                target="_blank"
                >{{ profile.prospectName }} - {{ profile.prospectTitle }}</a
              >
              -
            </span>
            {{ profile.activityComments }}
          </li>
        </ul>
        <ng-template #noProfiling>
          <span class="italic text-gray-400"
            >No profiling activities this week.</span
          >
        </ng-template>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
<p-dialog
  header="Hey, Fellow BDR!"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <p class="p-m-0">
    This app will help you take an export from Salesforce and auto-generate a
    pre-formatted recap for you based on the activities that you have logged.<br />
    <br />
    <mark
      ><strong
        >AFTER EXPORTING FROM SALESFORCE BE SURE TO FIRST OPEN THE FILE IN EXCEL
        AND SIMPLY RE-SAVE IT</strong
      ><br />
      <strong
        >Skipping this step will cause errors and the app will likely not work
        properly for you.</strong
      ><br
    /></mark>
    <br />
    <strong>A couple of things to note:</strong><br />
    <li>
      Remember: If it's not in Salesforce it will not appear on the
      auto-generated recap.
    </li>
    <li>
      Email responses will be limited to 200 characters. A "read more" link will
      link back to the actual activity record in Salesforce.
    </li>
    <br />
    <strong>Run into issues?</strong><br />
    Contact Ukrewer Chris Philbin
  </p>
  <ng-template pTemplate="footer">
    <button
      class="bg-teal-600 hover:bg-teal-500 text-white font-bold rounded p-4 mb-4"
      (click)="displayModal = false"
    >
      Okay, got it!
    </button>
    <p class="mt-2 text-xs text-gray-400">
      Note: files you provide for conversion are never transmitted to a 3rd
      party server. All conversions are done locally in your browser.
    </p>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
