<div class="grid grid-cols-2 gap-2 min-h-screen pt-44">
  <div class="text-center">
    <a [routerLink]="['/names-filter']"
      ><button
        class="bg-teal-600 hover:bg-teal-500 text-white font-bold rounded p-4 mt-10"
      >
        Prospect Names Filter
      </button></a
    >
  </div>

  <div class="text-center">
    <a [routerLink]="['/recap-generator']"
      ><button
        class="bg-teal-600 hover:bg-teal-500 text-white font-bold rounded p-4 mt-10"
      >
        BDR Recap Generator
      </button></a
    >
  </div>
</div>
